header{
    background-color: goldenrod;
    border: 3px solid black; 
    height: 150px;
    margin: 10px;
    border: 3px solid black;
}

div{
margin: 10px;
display: flex;
justify-content: space-between;
align-items: center;

}
 
.flex-item1{
    background-color: plum;
    width: 20%; 
    height: 30px;
    border: 3px solid black;
    flex-basis: 10%;
}


.flex-item2{
    background-color: plum;
    width: 20%; 
    height: 30px;
    border: 3px solid black;
    flex-basis: 10%; 
}

.flex-item3{
    background-color: plum;
    width: 20%; 
    height: 30px;
    border: 3px solid black;
    flex-basis: 10%;
}

.flex-item4{
    background-color: plum;
    width: 20%; 
    height: 30px;
    border: 3px solid black;
    flex-basis: 10%;
}



.flex-item5 {
background-color: rgb(38, 220, 38); 
    height: 50px;
   flex-basis: 50px;
    border: 3px solid black;
   margin-left: 20%;
    padding: 0px;
    display: flex;
    align-items: end;
    border-radius: 50%;
    
}




main{
    
    margin: 10px;
    display: flex;

}

.main-section3{
    background-color: rgb(163, 36, 36);
    width: 50%; 
    height: 150px;
    border: 3px solid black;
    margin-left: 40px;
    flex-basis: 80%;
    
}

.main-section2{
    background-color: green;
    width: 20%; 
    height: 150px;
    border: 3px solid black;
    flex-basis: 40%;
  
    
}


footer{
    background-color: rgb(101, 148, 223);
    border: 3px solid black;
    height: 150px;
    margin: 10px;
   
}

.nav-bar{
    background-color: goldenrod;
    border: 3px solid black; 
    height: 150px;
    margin: 10px;
    border: 3px solid black; 
}

.nav-bar a{
    background-color: goldenrod;
    border: 3px solid black; 
    height: 150px;
    margin: 10px;
  
} 

