header{
    background-color: goldenrod;
    border: 3px solid black; 
    height: 150px;
}

main{
    background-color: gray;
    border: 3px solid black;
    height: 150px;
}

footer{
    background-color: rgb(101, 148, 223);
    border: 3px solid black;
    height: 150px;
}
